.banner {
	margin-top: 10vh;
	height: 100vh;	
	
	background: radial-gradient(at 0% 100%, rgba(184, 125, 88, 0.8) 0%, rgba(184, 125, 88, 0) 30%),					
				radial-gradient(at 100% 0%, rgba(58, 95, 86, 0.55) 0%, rgba(58, 95, 86, 0) 30%) #F4F3F0;
	background-size: cover;
	display: flex;
	/*text-align: center;*/
	
}
.banner-contens {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 95%;	
	padding-top: 5vh;
}
.banner-description {
	width: 50%;	
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;	
	padding: 30px;
}
.banner h1 {
	font-size: 48px;
	line-height: 58px;
	color: #3A5F56;
	margin: 0;
}

.banner p {
	font-size: 16px;
	line-height: 22px;
	opacity: 0.8;
	color: #292C32;
	margin: 15px 0;
}
.banner-image {
	width: 550px;
}

