.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
}

.leftSideBar {
    padding: 5px;  
    /* border: 1px solid #8A9CA3; */
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(138, 156, 163, 0.5);
}
.leftSideBar ul {
    margin: 0;
    padding: 0;
}
.leftSideBar li {
    list-style: none;
    cursor: pointer;  
    transition: background-color 0.3s ease; 
}
.leftSideBar li:hover{
background-color: #c5d5ea44;  
}


.leftSideBar li.active {   
    color: blue;    
}

.card {
    padding: 5px;
    /* border: 1px solid #8A9CA3; */
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(138, 156, 163, 0.5);
}

.card:hover {
    box-shadow: 0px 2px 4px rgba(138, 156, 163, 0.9);
}

.tags {
    color: #6c797f;
    opacity: 0.95;
}

.tags:hover {
    cursor: pointer;
    color: #444d51;
    opacity: 1;
}

h1 {
    text-align: center;
}

.likes {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.products svg {
    cursor: pointer;
    color: #8A9CA3;
    opacity: 0.8;
}

.products svg:hover {
    color: #8A9CA3;
    opacity: 1;
}



@media (max-width: 960px) {
    .posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .posts {
        grid-template-columns: repeat(1, 1fr);
    }
}