
.linkHome {   
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.homeIcon {   
    margin-right: 5px;
} 
.card {    
    box-shadow: 0px 2px 4px rgba(138, 156, 163, 0.5);
}
.card:hover{
    box-shadow: 0px 2px 4px rgba(138, 156, 163, 0.9);
}
