.sectionwrap {
    display: flex;
    flex-direction: row;
}

.sectionwrap section {
    padding: 10px;
    width: 48%;
}

.sectionwrap section img {
    width: 100%;
}

.productImg {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .sectionwrap {
       flex-wrap: wrap;       
    }
    .sectionwrap section {
        width: 100%;        
    }

}