<main class="main">
  <div class="content">
    <h1>Bill Gates</h1>
    <div class="quotes">
      <h3>Famous quotes by Bill Gates:</h3>
      <ul>
        <li>Patience is a key element of success.</li>
        <li>If you think your teacher is tough, wait till you get boss.</li>
        <li>Life is not fair — get used to it!</li>
        <li>Success is a lousy teacher. Це seduces smart people in thinking they can't lose.</li>
        <li>Be nice to nerds..</li>
      </ul>
    </div>
    <div class="biography">
      <h3>Biography:</h3>
      <div class="biography-content">
        <img src="../assets/bg.jpg" alt="bg">
        <p>William Henry Gates III (born October 28, 1955) is an American businessman, investor, philanthropist, and
          writer best known for co-founding the software giant Microsoft, along with his childhood friend Paul
          Allen. During his career at Microsoft, Gates held the positions of chairman, chief executive officer
          (CEO), president, and chief software architect, while also being its largest individual shareholder until May
          2014. He was a major entrepreneur of the microcomputer revolution of the 1970s and 1980s. <br>
          Gates was born and raised in Seattle, Washington. In 1975, he and Allen founded Microsoft in Albuquerque, New
          Mexico. It later became the world's largest personal computer software company. Gates led the company as
          its chairman and chief executive officer until stepping down as CEO in January 2000, succeeded by Steve
          Ballmer, but he remained chairman of the board of directors and became chief software architect. During the
          late 1990s, he was criticized for his business tactics, which were considered anti-competitive. This opinion
          has been upheld by numerous court rulings. In June 2008, Gates transitioned into a part-time role at
          Microsoft and full-time work at the Bill & Melinda Gates Foundation, the private charitable foundation he and
          his then-wife Melinda had established in 2000. He stepped down as chairman of the Microsoft board in
          February 2014 and assumed the role of technology adviser to support newly appointed CEO Satya Nadella. In
          March 2020, Gates left his board positions at Microsoft and Berkshire Hathaway to focus on his philanthropic
          efforts on climate change, global health and development, and education.<br>
          Since 1987, Gates has been included in the Forbes list of the world's billionaires. From 1995 to
          2017, he held the Forbes title of the richest person in the world every year except in 2008 and from 2010 to
          2013. In October 2017, he was surpassed by Amazon founder Jeff Bezos, who had an estimated net worth of
          US$90.6 billion compared to Gates's net worth of US$89.9 billion at the time. In the Forbes 400 list of
          wealthiest Americans in 2023, he was ranked 6th with a wealth of $115.0 billion. As of December 2023,
          Gates has an estimated net worth of US$135 billion, making him the fourth-richest person in the world
          according to the Bloomberg Billionaires Index.<br>
          Later in his career and since leaving day-to-day operations at Microsoft in 2008, Gates has pursued other
          business and philanthropic endeavors. He is the founder and chairman of several companies, including BEN,
          Cascade Investment, TerraPower, bgC3, and Breakthrough Energy. He has donated sizable amounts of money to
          various charitable organizations and scientific research programs through the Bill & Melinda Gates Foundation,
          reported to be the world's largest private charity.Through the foundation, he led an early 21st century
          vaccination campaign that significantly contributed to the eradication of the wild poliovirus in
          Africa. In 2010, Gates and Warren Buffett founded The Giving Pledge, whereby they and other
          billionaires pledge to give at least half of their wealth to philanthropy.</p>
      </div>
    </div>
    <div class="links">
      <h3>Links:</h3>
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Bill_Gates" target="_blank">wiki</a></li>
        <li><a href="https://www.gatesfoundation.org/" target="_blank">foundation</a></li>
        <li><a href="https://www.gatesnotes.com/" target="_blank">notes</a></li>
        <li><a href="https://twitter.com/billgates" target="_blank">twitter</a></li>
      </ul>
    </div>
  </div>
</main>



<router-outlet></router-outlet>