.headerTop {
  width: 100%;
  height: 42px;
  min-height: 40px;
}

.headerTop a {
  padding: 5px 0;
  color: #0034AA;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.logo:hover {
  color: #0033aad7;
}

.logo>h2 {
  margin: 0 0 0 5px;
}

.headerMenu {
  width: 100%;
  height: 42px;
  min-height: 40px;
  background: #76767688;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerMenu a {
  text-decoration: none;
  font-weight: bold;
  color: #4174D9;
}

.headerMenu a:hover {
  color: #0034AA;
}

.headerMenu .active {
  font-weight: bold;
  color: #0034AA;
}