<h3>Contacts</h3>
<ul>
    <li><strong class="contact-item">Phone:</strong><a href="tel:067 72 36 705">+38 (067) 7236705</a></li>
    <li><strong class="contact-item">Email:</strong><a href="mailto:rom.bom1980@gmail.com">rom.bom1980&#64;gmail.com</a>
    </li>
    <li><strong class="contact-item">Social:</strong>
        <div class="social_icons ">
            <a href="https://www.instagram.com/" target="_blank"><img src="../assets/img/instagram-icon.svg" alt="instagram"></a>
            <a href="https://www.facebook.com" target="_blank"><img src="../assets/img/facebook-icon.svg" alt="facebook"></a>
            <a href="https://github.com/" target="_blank"><img src="../assets/img/github-icon.svg" alt="github"></a>
            <a href="https://www.linkedin.com/" target="_blank"><img src="../assets/img/linkedin-icon.svg" alt="linkedin"></a>
        </div>
    </li>
</ul>