.menu a {
  color: #fff;
  font-size: medium;
  padding: 7px 15px;
  border-radius: 5px;
}

.menu a.new-post-link {
  padding: 4px 10px;
}

.menu a.active-link {
 background-color: #4901ad;
}
.themes a.active-link {
  background-color: #4901ad;
 }

 .btn-logout{
  margin-right: 5px;
  font-size: medium;
 }

.themes a, .btn-logout {
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid #4901ad;
  cursor: pointer;
}
.themes a:hover, .btn-logout, .menu a:hover, .themes p:hover {
  background-color: #4901ad;
}

.themes p {
  padding: 7px 15px;
  border-radius: 5px;
}

.themes p.active {
  background-color: #4901ad;
}
.themes p {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}
header[theme="dark"] .menu a,
header[theme="dark"] .themes p,
header[theme="dark"] .themes a {
  color: #fff;
}
header[theme="dark"] .themes p.active,
header[theme="dark"] .menu a.active-link,
header[theme="dark"] .themes a.active-link,
header[theme="dark"] .btn-logout {
  background-color: #6c6868d4;
  border: none;
}
header[theme="dark"] .themes p:hover,
header[theme="dark"] .menu a:hover,
header[theme="dark"] .themes a:hover,
header[theme="dark"] .btn-logout:hover {
  background-color: #6c6868d4;
}

header[theme="dark"] .themes a, 
header[theme="dark"] .btn-logout { 
  border: 1px solid #6c6868d4;
  cursor: pointer;
}

.wrap{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content max-content;
}

.new-post-icon{
  /* margin-left: 10px; */
  cursor: pointer;
}
header[theme="dark"] .new-post-icon:hover {
  color: #A663F8;
}
/* .new-post-icon:hover {
  color: #4901ad;
} */

