:root {
  --link-menu: #001640;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header,
footer {
  background-color: aquamarine;
  padding: 20px 40px;
}

header[theme='dark']{
  background-color: black;
  border-bottom: 1px solid #fff;
}
.wrap[theme='dark'] footer{
  background-color: black;
  border-top: 1px solid #fff;
}
section {
  padding: 60px 40px;
}
.container {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.d-flex {
  display: flex;
  align-items: center;
}
.jcsb{
  justify-content: space-between;
}
.gap-1 {
  gap: 16px;
}
.gap-2 {
  gap: 24px;
}
.gap-3 {
  gap: 32px;
}
.gap-4 {
  gap: 48px;
}
.gap-5 {
  gap: 64px;
}
main{
  min-height: 84vh;
}
app-layout {
  display: grid;
  grid-template-rows: auto 0 1fr auto;
}
