/* Загальні стилі для посилань у меню */
.menu a {
  color: #fff;
  font-size: medium;
  padding: 7px 15px;
  border-radius: 5px;
}

/* Стилі для посилання на створення нового посту у меню */
.menu a.new-post-link {
  padding: 4px 10px;
}

/* Стилі для активного посилання у меню */
.menu a.active-link {
  background-color: #4901ad;
}

/* Стилі для активного посилання у темах */
.themes a.active-link {
  background-color: #4901ad;
}

/* Стилі для кнопки виходу */
.btn-logout {
  margin-right: 5px;
  font-size: medium;
}

/* Стилі для посилань у темах та кнопки виходу */
.themes a,
.btn-logout {
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid #4901ad;
  cursor: pointer;
}

/* Загальні стилі для елементів при наведенні */
.themes a:hover,
.btn-logout,
.menu a:hover,
.themes p:hover {
  background-color: #4901ad;
}

/* Стилі для елементів у списку тем */
.themes p {
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

/* Стилі для активного елемента у списку тем */
.themes p.active {
  background-color: #4901ad;
}

/* Стилі для активного елемента у мобільному меню */
.mobile-menu p.active  {
  background-color: #4901ad;
}

/* Стилі для обгортки */
.wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content max-content;
}

/* Стилі для іконки нового посту */
.new-post-icon {
  cursor: pointer; 
}

/* Стилі для мобільного меню */
.mobile-menu {
  display: none;
  position: absolute;
  top: 55px;
  left: -100%;
  width: 100%;
  background-color: #6200ee;
  z-index: 1000;
  transition: left 0.2s ease;   
}

/* Стилі для мобільного меню на екранах шириною до 768px */
@media only screen and (max-width: 768px) {
  .mobile-menu {
    display: block;
    left: 0;
  }
  /* Приховання меню на десктопних екранах */
  .desktop-menu {
    display: none;
  }
}

/* Стилі для пунктів у мобільному меню */
.mobile-menu ul {
  list-style-type: none;
  padding: 0;
}

.mobile-menu ul li {
  padding: 10px 0 0 50px;
  cursor: pointer;
}

.mobile-menu ul li:hover {
  background-color: #4901ad;
}

/* Стилі для посилань у мобільному меню */
.mobile-menu ul li a {  
  text-decoration: none;
  color: #fff;
}

/* Стилі для текстових елементів у мобільному меню */
.mobile-menu ul li p { 
  margin: 0;
}

/* Стилі для іконки мобільного меню */
.mobile-menu-icon {
  display: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px; 
}

/* Стилі для іконки мобільного меню на екранах шириною до 768px */
@media only screen and (max-width: 768px) {
  .mobile-menu-icon {
    display: flex;
    align-self: start;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  .mobile-menu-icon:hover {
  background-color: #4901ad;
  }
}

/* Стилі для темної теми */
header[theme="dark"] .menu a,
header[theme="dark"] .mobile-menu a,
header[theme="dark"] .themes p,
header[theme="dark"] .themes a {
  color: #fff;
}

/* Стилі для активного елемента у темній темі */
header[theme="dark"] .themes p.active,
header[theme="dark"] .menu a.active-link,
header[theme="dark"] .themes a.active-link,
header[theme="dark"] .btn-logout {
  background-color: #6c6868d4;
  border: none;
}

/* Стилі для елементів при наведенні у темній темі */
header[theme="dark"] .themes p:hover,
header[theme="dark"] .menu a:hover,
header[theme="dark"] .mobile-menu li:hover,
header[theme="dark"] .mobile-menu-icon:hover,
header[theme="dark"] .themes a:hover,
header[theme="dark"] .btn-logout:hover {
  background-color: #6c6868d4;
}

/* Стилі для посилань у темах та кнопки виходу у темній темі */
header[theme="dark"] .themes a, 
header[theme="dark"] .btn-logout { 
  border: 1px solid #6c6868d4;
  cursor: pointer;
}

/* Стилі для темного мобільного меню */
header[theme='dark'] .mobile-menu {
  background-color: #393939;
}

/* Стилі для іконки нового посту при наведенні (темна тема) */
header[theme="dark"] .new-post-icon:hover {
  color: #A663F8;
}