@import 'bootstrap/dist/css/bootstrap.min.css';

@import './styles/_var.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

header, footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#gameField {
  margin: 20px;
}

.table-wrap{
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
}

table {
  border: 1px solid #000;
  cursor: pointer;
  box-shadow: 1px 2px 8px 0 #2828285d;
  font-weight: bold;
}

th {
  background-color: #ccc;
  height: 50px;
  width: 50px;
  vertical-align: middle;
}

td {
  border: 1px solid #000;
  background-clip: padding-box;
  height: 70px;
  width: 70px;
  text-align: center;
  vertical-align: middle;
  transition: transform 0.2s, filter 0.5s;
}

button {
  height: 40px;
  width: 80px;
  margin-left: 10px;
}

.btn-wrap {
  margin-top: 20px;
}

/* td:hover {
  background-color: #ECF0F1;
} */



[data-theme='dark'] header,
[data-theme='dark'] footer,
[data-theme='dark'] main table {
  background-color: var(--dark);
  color: var(--body);
}
[data-theme='dark'] main  {
  background-color: var( --dark-bg);
}
[data-theme='dark'] td[data-attr='emptyCell'] {
  background-color: #35363f94;
}


[data-theme='light'] header,
[data-theme='light'] footer,
[data-theme='light'] main table {
  background-color: var(--light);
  color: var(--dark);
}
[data-theme='light'] td[data-attr='emptyCell'] {
  background-color: #fff;
}



[data-theme='summer'] header,
[data-theme='summer'] footer,
[data-theme='summer'] main table {
  background-color: var(--summer);
  color: var(--dark);
}
[data-theme='summer'] main  {
  background-color: var( --summer-bg);
}
[data-theme='summer'] td[data-attr='emptyCell'] {
  background-color:  #eed595;
}



[data-theme='winter'] header,
[data-theme='winter'] footer,
[data-theme='winter'] main table {
  background-color: var(--winter);
  color: var(--dark);
}
[data-theme='winter'] main  {
  background-color: var( --winter-bg);
}
[data-theme='winter'] td[data-attr='emptyCell'] {
  background-color:  rgba(222, 235, 240, 0.733);
}
