<main>
  <section>
    <div class="container">
      <app-error></app-error>
      <h1>Сторінка з постами</h1>
      <div class="d-flex gap-1 ai-c">
        <div class="icon " *ngIf="isAuth" (click)="getAuthorPosts()">
          <mat-icon class="mat-icon-rtl-mirror" fontIcon="face"></mat-icon>
        </div>
        <div class="icon " *ngIf="isFilter" (click)="cancelFilters()">
          <mat-icon class="mat-icon-rtl-mirror" fontIcon="cancel"></mat-icon>
        </div>
        <span >{{currentPostsInfo}}</span>
      </div>

      <div class="grid">
        <div *ngFor="let item of posts" class="item">
          <div class="icon delete-icon" *ngIf="isFilter"  (click)="deleteAuthorPost(item.slug)" >
            <mat-icon class="mat-icon-rtl-mirror" fontIcon="delete"></mat-icon>
          </div>        
          <h3>{{item.title}}</h3>
          <p>{{item.description}}</p>
          <p>{{item.body.slice(0, 120)}}...</p>
          <p><span *ngFor="let tag of item.tagList" class="tags" (click)="getPostsByTag(tag)">#{{tag}}{{" "}}</span></p>
          <!-- <p class="d-flex "><span class="likes"><mat-icon fontIcon="recommend"></mat-icon></span>{{item.reactions}}</p> -->
          <button class="btn">More...</button>
        </div>
      </div>
      <div>
        <h3>Total {{total}} posts.</h3>
      </div>
    </div>
  </section>
</main>