.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.post {
    padding: 5px;
    border: 1px solid #8A9CA3;
    border-radius: 5px;
}

.tags {
    color: #6c797f;
    opacity: 0.95;
}

.tags:hover {
    cursor: pointer;
    color: #444d51;
    opacity: 1;
}

h1 {
    text-align: center;
}

.likes {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.posts svg {
    cursor: pointer;
    color: #8A9CA3;
    opacity: 0.8;
}

.posts svg:hover {
    color: #8A9CA3;
    opacity: 1;
}

.btn {
    color: #808080;
    border: 1px solid #808080;
    border-radius: 7px;
    padding: 5px;
    font-weight: lighter;
    opacity: 0.8;
    text-decoration: none;
}

.btn:hover {
    opacity: 1;
    text-decoration: none;
}

@media (max-width: 960px) {
    .posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .posts {
        grid-template-columns: repeat(1, 1fr);
    }
}