<main>
    <section>
        <div class="container d-flex jc-center">
            <div class="form-wrap">
                <h1>Login</h1>
                <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
                    <div class="input-group " [class.inFocus]="isEmailInputInFocus">
                        <div class="d-flex pb-5">
                            <mat-icon class="icon" fontIcon="mail"></mat-icon>
                            <input formControlName="email" type="email" placeholder='Roman@example.com'  (focus)="onEmailInputFocus()" (blur)="onEmailInputBlur()"/>
                        </div>
                        <div
                            *ngIf="loginForm.get('email')!.hasError('pattern') && loginForm.get('email') ; else noEmailError">
                            <p class="text-danger">Please enter a valid email address. </p>
                        </div>
                        <ng-template #noEmailError>
                            <p class="text-regular">&nbsp;</p>
                        </ng-template>
                    </div>
                    <div class="password-group" [class.inFocus]="isPassInputInFocus" >
                        <div class="d-flex pb-5">
                            <span class="icon"><mat-icon fontIcon="lock"></mat-icon></span>
                            <input formControlName="password" [type]="hide ? 'password' : 'text'"
                                placeholder='password' (focus)="onPassInputFocus()" (blur)="onPassInputBlur()"/>
                            <button class="btn-showPass" (click)="changeShowPass($event)">show password</button>
                        </div>
                        <div
                        *ngIf="loginForm.get('password')!.hasError('minlength') && loginForm.get('password'); else noMinLengthError">
                        <p class="text-danger"> Password must be at least 6 characters long.</p>
                    </div>
                    <ng-template #noMinLengthError>
                        <p class="text-regular">&nbsp;</p>
                    </ng-template>
                    </div>
                    

                    <button class="btn-login" type="submit">Login</button>
                </form>
            </div>
        </div>
    </section>
</main>