  .form-wrap {
      max-width: 400px;
      width: 100%;
      padding: 20px;
      border: 1px solid #cccccc84;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
      text-align: center;
  }

  form {
      display: flex;
      flex-direction: column;
  }

  input {
      /* margin-bottom: 10px; */
      padding:0 15px;
      font-size: 16px;
      border: none;
  }
  input:focus {
    outline: none;
  }


  button {
      background-color: #36BF8D;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;      
  }

  button:hover {
      background-color: #3e848c;
  }

  .password-group {
      position: relative;
  }

  input[type="password"] {
      width: calc(100% - 150px);
      /* Adjust the width as needed */
      padding-right: 30px;
  }

  .btn-showPass {
    position: absolute;
    top: 10px;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn-login{
    margin: 20px;
}


p.text-danger{
    color: red;
    border-top: 1px solid red;
}

.text-regular{
    border-top: 1px solid lightgrey;
}
.icon { 
    /* font-size: 30px;  */
    color: #55555577; 
}
.input-group.inFocus .icon {
    color: #36BF8D;
}
.input-group.inFocus .text-regular {
    border-top: 1px solid #36BF8D;
}

.password-group.inFocus .icon{
    color: #36BF8D;
}

.password-group.inFocus .text-regular {
    border-top: 1px solid #36BF8D;
}
.pb-5{
    padding-bottom: 5px;
}