<main>
  <section>
    <div class="container">
      <div class="auth-wrap">
        <app-error></app-error>
        <mat-tab-group>
          <mat-tab label="Login">
            <form [formGroup]="reactiveForm" (ngSubmit)="sumbitReactiveForm()">
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" placeholder="password">
              </mat-form-field>
              <button type="submit">Login</button>
            </form>
          </mat-tab>
          <mat-tab label="Signup">
            <form [formGroup]="signUpForm" (ngSubmit)="sumbitSignUpForm()">
              <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input name="username" matInput formControlName="username" placeholder="Username">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" name="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" name="password" matInput formControlName="password" placeholder="password">
              </mat-form-field>
              <button type="submit">Signup</button>
            </form>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </section>
</main>