.grid {
  display: grid;
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  background: white;
}

.item {
  display: grid;
  grid-template-columns: 30px repeat(2, 2fr) 100px 1fr repeat(3, 80px);
  padding: 10px;
}

.item>p {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 5px;
}

.item:nth-child(odd) {
  background: #cac9c940;
}

.item:first-child {
  border-bottom: 3px solid #76767688;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #cac9c95e;
}

.item:first-child>p {
  text-align: center;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.pagination li {
  padding-right: 10px;
}

.titlewrap {
  margin: 20px 0 10px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #76767688;
}
.titlewrap>h2 {
  margin: 0;
}
.tableTitle p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}