#wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
#labels{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.shadow{
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
}
