.modalWrap {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 98;
  /* display: none; */
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease;
}

.modalWrap.open {
  display: flex;
  left: 0;
  opacity: 1;
}

.modalInner {
  max-width: 90vw;
  max-height: 90vh;
  min-width: 400px; 
  overflow-y: auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  z-index: 99;
}

.icon {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 99;
}

.closeModal {
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.closeModal:hover {
  background-color: #76767646;
}

@media (max-width: 768px) {
  .modalWrap {
    position: fixed;
    transition: left 0.2s ease;
  }
  .modalInner {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}