.wrap {
    display: grid;
    width: 70vw;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
    transition: background-color 0.6s ease;
}

.item:hover:not(.itemTitle) {
    background-color: rgba(211, 211, 211, 0.199);
}

.itemTitle {
    font-weight: bold;
    border-bottom: 2px solid;  
}

.shop {
    display: none;
    background-color: rgba(241, 190, 198, 0.37);
}

.shop.active {
    display: grid;
}

.shop.active .item {
    padding-left: 40px;
}